body {
    background-color: rgb(206, 197, 187);
    color: black;
    font-family:'Times New Roman', Times, serif;
}
h1 {
    font-size: 35pt;
    text-align: center;
}
h2 {
    font-style: italic;
    text-align: center;
}
h3 {
    margin: 3em;
    text-decoration: underline;
}
li {
    margin: 2em;
    text-indent: 2em;
}
p {
    margin: 3em;
}